/*geral*/
body{
    width: 98vw;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    min-height: 70vh;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo a img{
    max-width: 10rem;
}

.navbar{
    display: flex;
    justify-content: center;
    border-bottom: 0.1em solid #F98613;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    margin: 1em;
    list-style-type: none;
}

a, a::before, a::after{
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover{
    border-bottom: 0.05em solid #F98613;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{
    border-left: 0.1em solid #F98613;
    margin-left: 0.2em;
    font-weight: 300;
}

/*homepage*/
.producttype{
    display: flex;
    flex-direction: column;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1em;
}

.gallery a img{
    max-width: 20vw;
    margin: 1em;
    margin-left: 2em;
}

.gallery a:hover{
    border: 0.2em solid #F98613;
    border-radius: 0.5em;
}

/*produto*/
.product-view{
    width: 70vw;
    justify-content: center;
    align-items: center;
}
.produto{
    display: flex;
    flex-direction: row;
    margin: 1em 5em 1em 5em;
}

.img-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

/*.secondary{
    display: flex;
    flex-direction: row;
}

.secondary img{
    border: 0.2em solid #F98613
}*/

#productimg{
    max-width: 80%;
}

.product-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#desc{
    text-align: justify;
}

.bttn{
    width: 10em;
    height: 3.75em;
    border-radius: 0.3em;
    background-color: #F98613;
    border-color: #ee8d6a;
    color: #fff;
    font-size: 1.25em;
}

.bttn:hover{
    background-color: #d85a1c;
    border-color: #d85a1c;
}

button a{
    color: #fff;
    text-decoration: none;
}

/*serviços*/

.section{
    margin: 2em;
    text-align: justify;
}

.cartela{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cartela img{
    max-width: 20vw;
    margin: 1em;
}

/*geral*/

footer{
    background-color: #F98613;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
}

.text{
    margin: 1em;
    color: white;
}

@media (max-width:1024px) {
    .logo a img{
        max-width: 20rem;
    }

    .navbar ul li{
        font-size: 1.5vh;
    }

    .gallery a img{
        max-width: 40vw;
        margin: 1em;
        margin-left: 2em;
    }

    .cartela img{
        max-width: 30vw;
        margin: 1em;
    }

    .text{
        margin: 1em;
        font-size: 1.22em;
        color: white;
    }

    .section-title{
        font-size: 5vw;
    }

    #contatoP{
        font-size: 2.9vw;
        overflow-wrap: break-word;
    }

    /*produto*/
    .product-view{
        height: 90vh;
        width: 90vw;
        justify-content: center;
        align-items: center;
    }

    .produto{
        display: flex;
        flex-direction: column;
        margin: 1em 5em 1em 5em;
    }

    .img-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #productname{
        font-size: 3vh;
    }

    #productimg{
        max-width: 200%;
    }

    .product-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bttn{
        width: 20vh;
        height: 3.75em;
        border-radius: 0.3em;
        background-color: #F98613;
        border-color: #ee8d6a;
        color: #fff;
        font-size: 2vh;
    }

    #desc{
        text-align: justify;
        font-size: 2vh;
    }

    #desc ul li{
        font-size: 2vh;
    }
}